body {
  background-color: lightgray;
}

#searchbar {
  margin: left;
  height: auto;
  padding: auto;
}

.top-bar {
  text-align: center;
  border: 2px;
  padding-left: 5%;
  padding-right: 5%;
  border: solid black;
  background-color: aquamarine;
}

.content {
  float: left
}
